.header{
   display:flex;
   align-items: center;
   border:solid black;
}

.logo{
    width:200px;
}

.nav-items{
    margin:0 auto;
}

.nav-items > ul{
    font-size:24px;
    display:flex;
    list-style-type: none;
    
}

.nav-items > ul > li{
    padding: 25px;
    margin:10px;
}

.Restaurant-container{
    display:flex;
    flex-wrap:wrap ;
}


.RestaurantCard{
    
    width:200px;
    height:300px;
}

.RestaurantCard:hover{
    cursor:pointer;
    border:1px solid black;
}
.search{
    padding:10px;
}

.res-logo{
    margin:auto
    padding:5px;
    width:100%;
}